* {
  font-size: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.table{
  background: aliceblue;
    padding: 12px;
}

table tr >td{
text-align: center;
padding : 0 25px;
}



